[pylint]
max-line-length = 100

[pylint.messages_control]
disable =
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments

[pylint.reports]
output-format = colorized

[pylint.basic]
good-names = i,j,k,ex,_,id,db

[pylint.design]
max-args = 7
max-locals = 15
max-returns = 6
max-branches = 12
max-statements = 50
